@using UltimateTicTacToe.Components.Models

<div class="relative">
    <div class="board relative @((Playable && WonBy == -1) ? "selectable" : "")">
        @for (int j = 0; j < 3; j++) {
            @for (int i = 0; i < 3; i++) {
                <BoardTile TileType="@Board[i,j]" X="@i" Y="@j" TileClicked="@Click"/>
            }
        }
    
    </div>
    <div class="winner winner-@(WonBy)">
        
    </div>
</div>

@code {
    [Parameter] public required int[,] Board { get; set; }
    [Parameter] public required int I { get; set; }
    [Parameter] public required int J { get; set; }
    [Parameter] public EventCallback<MoveInput> TileClicked { get; set; }
    [Parameter] public bool Playable { get; set; }
    [Parameter] public int WonBy { get; set; }
    
    private async Task Click((int x, int y) input) {
        await TileClicked.InvokeAsync(new MoveInput {
            X = input.x,
            Y = input.y,
            I = I,
            J = J
        });
    }
}